html{
 background-color:#322e2e; 
}

body{
 max-width:800px;
 margin:80px auto;
 color:#cbd0d7;
 font-size:14px;
 font-weight:300;
 font-family: 'Kanit', 'Verdana', sans-serif;
}

h1{
 font-size:2.8em;
 font-family: 'Josefin Sans', 'Arial', sans-serif;
 font-weight: 400;
}
h2{
 font-size:2.2em;
}
h3{
 font-size:1.8em;
 font-family: 'Josefin Sans', 'Arial', sans-serif;
 font-weight: 300;
}
h4{
 font-size:1.4em;
}
h5{
 font-size:1em;
}

b{
 font-weight:500;
}
