html{
 background-color:#322e2e; 
}

body{
 max-width:800px;
 margin:60px auto;
 padding:20px;
 color:#cbd0d7;
 font-size:14px;
 font-weight:300;
 font-family: 'Kanit', 'Verdana', sans-serif;
}

h1{
 font-size:2.8em;
 font-family: 'Josefin Sans', 'Arial', sans-serif;
 font-weight: 400;
}
h2{
 font-size:2.2em;
 font-weight:300;
}
h3{
 font-size:1.8em;
 font-family: 'Josefin Sans', 'Arial', sans-serif;
 font-weight: 300;
}
h4{
 font-size:1.4em;
 font-weight:300;
}
h5{
 font-size:1em;
 font-weight:300;
}

b{
 font-weight:500;
}

a {
    color: rgb(128, 194, 172);
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    color: rgb(203, 223, 216);
  }
  
  a:visited {
    color: rgb(190, 115, 190);
  }

.box {
    background-color: #ffffff10;
    padding: 0 20px;
    margin: 20px;
  }
